

.x{
	height:20;
	width:50;
	border:none;
	background-color:black;
	color:white;
}
.y{
	height:100;
	width:20;
	border:none;
	background-color:black;
	color:white;
}
td{
	height:20;
	width:20;
	text-align: center;
}
.c{
	color:white;
}
